@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300,400&display=swap');

$lato: 'Lato', ;
$roboto: 'Roboto', ;

$coffee: #4F3D39;
$card-border-radius: 24px;

$grid-gutter: 32px;

.c-c {
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #eee;
}

.text {
  &-coffee {
    color: $coffee;
  }
  &-heroHeader {
    font-size: 50pt;
    font-weight: lighter;
    font-family: $roboto;
  }
}

.bg-gradient {
  &-mono {
    background-size: cover;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
}

.layers {
  &-container {
    position: relative;
    width: inherit;
    height: inherit;
  }
  &-layer {
    position: absolute;
    width: inherit;
    height: inherit;
    // display: block;
  }
}