.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 20px;
  z-index: 99;
  color: white;
  display: flex;
  justify-content: space-between;
  &, img {
    transition: 200ms linear;
      }
  &-button {
    &:last-of-type {
      padding-right: 0;
    }
    padding: 0 10px;
  }
  &-image {
    width: 100px;
  }
}
