.footer {
  // position: absolute;
  // bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 20px;
  z-index: 99;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
